<!doctype html>
<html>
<head>
<h1>Agregar Empleado</h1>
</head>

<body>

  <div class="container">
    <form class="form_reg" method="POST" action="/CompletarAgregarEmpleado">
      <input class="input" type="text" name="nombre" placeholder="&#128100; Nombre Empleado" required autofocus>
      <input class="input" type="text" name="apellido" placeholder="&#128100; Apellido Empleado" required autofocus>
      <input class="input" type="text" name="dni" placeholder="&#128100; DNI Empleado" required autofocus>
      <input class="input" type="text" name="sucursal" placeholder="&#128100; Sucursal del Empleado" required autofocus>
      <input type="submit" value="Agregar">
      <a href="/inicio"><input type="button" value="Volver al inicio"></a>
      <a href="/Empleados"><input type="button" value="Volver a  las opciones del Empleado"></a>


</body>

    </html>
