<!doctype html>
<html>
<head>
<h1>Agregar Cliente</h1>
</head>

<body>

  <div class="container">
    <form class="form_reg" method="POST" action="/CompletarAgregarCliente">
      <input class="input" type="text" name="queja" placeholder="&#128100; Queja" required autofocus>
      <input class="input" type="text" name="pedido" placeholder="&#128100; Que pediste?" required autofocus>
      <input class="input" type="text" name="sucursal" placeholder="&#128100; A que Sucursal fuiste?" required autofocus>
      <input type="submit" value="Agregar">
      <a href="/inicio"><input type="button" value="Volver al inicio"></a>
      <a href="/Clientes"><input type="button" value="Volver a  las opciones de Cliente"></a>


</body>

    </html>
