<!doctype html>
<html>
<head>
<h1>Agregar Menu</h1>
</head>

<body>

  <div class="container">
    <form class="form_reg" method="POST" action="/CompletarAgregarMenu">
      <input class="input" type="text" name="nombre" placeholder="&#128100; Nombre Menu" required autofocus>
      <input class="input" type="text" name="precio" placeholder="&#128100; Precio Menu" required autofocus>
      <input class="input" type="text" name="tipo" placeholder="&#128100; Tipo Menu" required autofocus>
      <input class="input" type="text" name="sucursal" placeholder="&#128100; Sucursal del Menu" required autofocus>
      <input type="submit" value="Agregar">
      <a href="/inicio"><input type="button" value="Volver al inicio"></a>
      <a href="/Menu"><input type="button" value="Volver a  las opciones de Menu"></a>

</body>

    </html>
