<!doctype html>
<html>
<head>
<h1>Agregar Empleado</h1>
</head>

<body>
<body  bgcolor="White" text="23232B" background="https://www.ecestaticos.com/imagestatic/clipping/1dc/6b7/1dc6b786375862ca47cb99477758300d/ocho-cosas-que-no-debes-hacer-jamas-en-un-restaurante-de-lujo.jpg?mtime=1499874915" style="background-repeat: no-repeat;
																																																										     background-size: cover">

  <div class="container">
    <form class="form_reg" method="POST" action="/CompletarAgregarEmpleado">
      <input class="input" type="text" name="nombre" placeholder="&#128100; Nombre Empleado" required autofocus>
      <input class="input" type="text" name="apellido" placeholder="&#128100; Apellido Empleado" required autofocus>
      <input class="input" type="text" name="dni" placeholder="&#128100; DNI Empleado" required autofocus>
      <input class="input" type="text" name="sucursal" placeholder="&#128100; Sucursal del Empleado" required autofocus>
      <input type="submit" value="Agregar">
      <a href="/inicio"><input type="button" value="Volver al inicio"></a>
      <a href="/Empleados"><input type="button" value="Volver a  las opciones del Empleado"></a>


</body>

    </html>
