<!doctype html>
<html>
<head>
<h1>Agregar Menu</h1>
</head>

<body>
<body  bgcolor="White" text="23232B" background="https://www.ecestaticos.com/imagestatic/clipping/1dc/6b7/1dc6b786375862ca47cb99477758300d/ocho-cosas-que-no-debes-hacer-jamas-en-un-restaurante-de-lujo.jpg?mtime=1499874915" style="background-repeat: no-repeat;
																																																										     background-size: cover">
  <div class="container">
    <form class="form_reg" method="POST" action="/CompletarAgregarMenu">
      <input class="input" type="text" name="nombre" placeholder="&#128100; Nombre Menu" required autofocus>
      <input class="input" type="text" name="precio" placeholder="&#128100; Precio Menu" required autofocus>
      <input class="input" type="text" name="tipo" placeholder="&#128100; Tipo Menu" required autofocus>
      <input class="input" type="text" name="sucursal" placeholder="&#128100; Sucursal del Menu" required autofocus>
      <input type="submit" value="Agregar">
      <a href="/inicio"><input type="button" value="Volver al inicio"></a>
      <a href="/Menu"><input type="button" value="Volver a  las opciones de Menu"></a>

</body>

    </html>
