<html>
  <head>

    <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/53/53105.svg">
    <title>FMBurguer-Clientes</title>

    <body bgcolor="White" text="23232B" >
  		<center> <h1>Clientes</h1> </center>
      <p>
  			<center>
  			<a href="/inicio"><input type="button" value="Inicio"></a>
  			<a href="/AgregarCliente"><input type="button" value="Agregar Cliente"></a>
  			<a href="/BorrarCliente"><input type="button" value="Borrar Cliente"></a>
  			<a href="/ModificarCliente"><input type="button" value="Modificar Cliente"></a>
  			</center>

  	</body>
  </head>
</html>
