<html>
  <head>

    <link rel="icon" type="image/png" href="https://images.vexels.com/media/users/3/129727/isolated/preview/6bcb1a197858bb4e14168d4f906750e8-icono-del-c-rculo-de-la-zanahoria-by-vexels.png">
    <title>Seaeat-Empleados</title>

  		<center> <h1>Empleados</h1> </center>
      <p>
	  <body  bgcolor="White" text="23232B" background="https://www.ecestaticos.com/imagestatic/clipping/1dc/6b7/1dc6b786375862ca47cb99477758300d/ocho-cosas-que-no-debes-hacer-jamas-en-un-restaurante-de-lujo.jpg?mtime=1499874915" style="background-repeat: no-repeat;
																																																										     background-size: cover">
  			<center>
  			<a href="/inicio"><input type="button" value="Volver al inicio"></a>
  			<a href="/AgregarEmpleado"><input type="button" value="Agregar Empleado"></a>
  			<a href="/BorrarEmpleados"><input type="button" value="Borrar Empleado"></a>
  			<a href="/ModificarEmpleados"><input type="button" value="Modificar Empleado"></a>
  			</center>

  	</body>
  </head>
</html>
