
<html>
	<head>
		<link rel="icon" type="image/png" href="https://images.vexels.com/media/users/3/136309/isolated/preview/c6539229ad5c57c313d95711a1e676db-logo-hamburguesa-comida-r-pida-by-vexels.png">
		<title>FM Burguer-Argentina</title>
	 <link href="css/bootstrap.min.css" rel="stylesheet">
	 <link rel="stylesheet" href="main.css">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta charset="utf-8">
	  <style type="text/css">
			.class1{
					margin-left:5px;
					margin-top:10px;
					background:white;
					width: 350px;
					height: 38px;
					border: 8px double black;
					}
		</style>
	</head>

		 <center><h1 class="class1">
			ADMINISTRACION
		</h1></center>

		<body  bgcolor="White" text="23232B" background="https://www.ecestaticos.com/imagestatic/clipping/1dc/6b7/1dc6b786375862ca47cb99477758300d/ocho-cosas-que-no-debes-hacer-jamas-en-un-restaurante-de-lujo.jpg?mtime=1499874915" style="background-repeat: no-repeat;
																																																										     background-size: cover">
		<div class="contenedor">
			<div class="contenido">
				<center>
				<a href="/inicio"><input type="button" value="Inicio"></a>
				<a href="/Clientes"><input type="button" value="Clientes"></a>
				<a href="/Empleados"><input type="button" value="Empleados"></a>
				<a href="/Sucursales"><input type="button" value="Sucursales"></a>
				<a href="/Menu"><input type="button" value="Menu"></a>
			</div>
		</div>
		</center>
	</body>
</html>
