<html>
	<head>
		<link rel="icon" type="image/png" href="https://images.vexels.com/media/users/3/129727/isolated/preview/6bcb1a197858bb4e14168d4f906750e8-icono-del-c-rculo-de-la-zanahoria-by-vexels.png">
		<title>Seaeat-Argentina</title>
	 <link href="css/bootstrap.min.css" rel="stylesheet">
	 <link rel="stylesheet" href="main.css">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta charset="utf-8">
	  <style type="text/css">
			.class1{
					margin-left:5px;
					margin-top:10px;
					background:white;
					width: 350px;
					height: 38px;
					border: 8px double pink;
					}
		</style>
	</head>

		 <center><h1 class="class1">
			ADMINISTRACION
		</h1></center>

		<body  bgcolor="White" text="23232B" background="https://www.karmacupcakes.com.au/assets/images/individual-cakes/mixed_karma_Cakes_1.jpg" >
		<div class="contenedor">
			<div class="contenido">
				<center>
				<a href="/inicio"><input type="button" value="Inicio"></a>
				<a href="/Clientes"><input type="button" value="Clientes"></a>
				<a href="/Empleados"><input type="button" value="Empleados"></a>
				<a href="/Sucursales"><input type="button" value="Sucursales"></a>
				<a href="/Menu"><input type="button" value="Menu"></a>
			</div>
		</div>
		</center>
	</body>
</html>
