<html>
  <head>

    <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/53/53105.svg">
    <title>FMBurguer-Menu</title>

    <body bgcolor="White" text="23232B" >
  		<center> <h1>Menues</h1> </center>
      <p>
  			<center>
  			<a href="/inicio"><input type="button" value="Inicio"></a>
  			<a href="/AgregarMenu"><input type="button" value="Agregar Menu"></a>
  			<a href="/BorrarMenu"><input type="button" value="Borrar Menu"></a>
  			<a href="/ModificarMenu"><input type="button" value="Modificar Menu"></a>
  		</center>

  	</body>
  </head>
</html>
