<html>
<head>
<h1>Modificar Empleado</h1>
</head>

<body>
<body  bgcolor="White" text="23232B" background="https://www.ecestaticos.com/imagestatic/clipping/1dc/6b7/1dc6b786375862ca47cb99477758300d/ocho-cosas-que-no-debes-hacer-jamas-en-un-restaurante-de-lujo.jpg?mtime=1499874915" style="background-repeat: no-repeat;
																																																										     background-size: cover">
  <div class="container">
    <form class="form_reg" method="POST" action="/CompletarModificarEmpleado">
      <input class="input" type="text" name="id" placeholder="&#128100; ID a modificar" required autofocus>
      <input class="input" type="text" name="dni" placeholder="&#128100; Nuevo DNI" required autofocus>
      <input class="input" type="text" name="nombre" placeholder="&#128100; Nuevo nombre" required autofocus>
      <input class="input" type="text" name="apellido" placeholder="&#128100; Nuevo apellido" required autofocus>
      <input type="submit" value="Modificar">
      <a href="/inicio"><input type="button" value="Volver al inicio"></a>
      <a href="/Empleados"><input type="button" value="Volver a  las opciones de Empleados"></a>


</body>

    </html>
