<html>
<head>
<h1>Modificar Sucursal</h1>
</head>

<body>

  <div class="container">
    <form class="form_reg" action="">
      <input class="input" type="text" placeholder="&#128100; id Menu a modificar" required autofocus>
      <input class="input" type="text" placeholder="&#128100; nuevo Nombre menu" required autofocus>
      <input class="input" type="text" placeholder="&#128100; nuevo Precio Menu" required autofocus>
      <input class="input" type="text" placeholder="&#128100; nuevo tipo menu" required autofocus>
      <a href=""><input type="button" value="Modificar"></a>
      <a href="/inicio"><input type="button" value="Volver al inicio"></a>
      <a href="/Menu"><input type="button" value="Volver a  las opciones de Menu"></a>


</body>

    </html>
