<html>
<head>
<h1>Modificar Empleado</h1>
</head>

<body>

  <div class="container">
    <form class="form_reg" action="">
      <input class="input" type="text" placeholder="&#128100; ID a modificar" required autofocus>
      <input class="input" type="text" placeholder="&#128100; Nuevo DNI" required autofocus>
      <input class="input" type="text" placeholder="&#128100; Nuevo nombre" required autofocus>
      <input class="input" type="text" placeholder="&#128100; Nuevo apellido" required autofocus>
      <a href=""><input type="button" value="Modificar"></a>
      <a href="/inicio"><input type="button" value="Volver al inicio"></a>
      <a href="/Empleados"><input type="button" value="Volver a  las opciones de Empleados"></a>


</body>

    </html>
