<html>
  <head>

    <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/53/53105.svg">
    <title>FMBurguer-Sucursales</title>

    <body bgcolor="White" text="23232B" >
  <body  bgcolor="White" text="23232B" background="https://www.ecestaticos.com/imagestatic/clipping/1dc/6b7/1dc6b786375862ca47cb99477758300d/ocho-cosas-que-no-debes-hacer-jamas-en-un-restaurante-de-lujo.jpg?mtime=1499874915" style="background-repeat: no-repeat;
																																																										     background-size: cover">
  		<center> <h1>Sucursales</h1> </center>
      <p>
  			<center>
  			<a href="/inicio"><input type="button" value="Volver al Inicio"></a>
  			<a href="/AgregarSucursal"><input type="button" value="Agregar Sucursal"></a>
  			<a href="/BorrarSucursal"><input type="button" value="Borrar Sucursal"></a>
  			<a href="/ModificarSucursal"><input type="button" value="Modificar Sucursal"></a>
  		</center>

  	</body>
  </head>
</html>
